[run]
omit =
    argopy/tests/*
    setup.py
    *__init__*
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def _
    if self.debug:
    if settings.DEBUG
    if __name__ == .__main__.:
    @deprecated