language: python

python:
  - "3.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install Bottleneck
  - pip install --user codecov

# command to run tests
script:
  - pytest

after_success:
  - codecov