include *.txt
include README.md
include LICENSE

graft argopy

prune binder
prune docs
prune argopy/tests/test_data

exclude *.egg-info
exclude *.yml
exclude .coveragerc
exclude CODE_OF_CONDUCT.md
exclude HOW_TO_RELEASE.md
