xarray>=0.16
scipy>=1.5
scikit-learn>=0.23 #<2.0   # Using 'preprocessing.LabelEncoder()' in xarray accessor, used by filters
netCDF4>=1.5.3 #<1.5.9
dask>=2.3  # This could go away ?
toolz>=0.8.2
erddapy>=0.7  # This could go away ?
fsspec>=0.8
gsw<=3.4.0  # Used by xarray accessor to compute new variables, so not necessary to core functionalities
aiohttp>=3.7
packaging>=20.4  # Using 'version' to make API compatible with several fsspec releases