xarray>=0.18,<2024.3  # https://github.com/pydata/xarray/issues/8909
scipy>=1.5
numpy<2 # because xarray <2024.3
erddapy>=2.2.1  # only compatible with python >= 3.10
netCDF4>=1.5.3 #<1.5.9
h5netcdf>=1.4.0
fsspec>=0.8,<2025.3.0  # https://github.com/euroargodev/argopy/issues/459
toolz>=0.8.2
requests>=2.28
aiohttp>=3.7
decorator>=5.1
packaging>=20.4  # Using 'version' to make API compatible with several fsspec releases