pip>=23.1
# pkgconfig
ipykernel>=6.22
ipython<=8.12
ipywidgets>=8.0

nbsphinx>=0.9
numpydoc>=1.1.0
jinja2>=3.0.2
sphinx_issues>=1.2.0
gitpython>=3.1.2
sphinx-autosummary-accessors>=0.1.2
readthedocs-sphinx-ext
sphinx-rtd-theme
sphinx-book-theme
# sphinx-bootstrap-theme
sphinx-tabs
git+https://github.com/sphinx-contrib/googleanalytics

xarray>=0.16.1
pandas<3.0
scipy>=1.5
scikit-learn>=0.23.2
dask>=2021.9.1
distributed>=2.30.0
# bottleneck>=1.3.2
# toolz>=0.8.2

erddapy>=0.7.2
gsw>=3.4.0

fsspec>=0.7.4 #, <2022.3.1
aiohttp>=3.7.4

matplotlib>=3.4.0
#cartopy>=0.18.0
#seaborn>=0.11.0
#geos>=0.2
#cmocean

zarr>=2.4.0
netcdf4>=1.5.4
cftime>=1.5.1
cfgrib>=0.9.9.1
tqdm>=4.50.2
